@media only screen and (min-width: 46em) {
  /**
     * Enlarge baseline text size.
     */
  html {
    font-size: 112.5%;
  }
}

body {
  background-color: #efece6;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-size: 116%;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 4px 4px 10px rgba(100, 100, 100, 0.5);
    width: 80%;
    padding: 20px 40px;
    margin-top: 20px;
    border-radius: 10px;
}

/* .content-wrapper p {
  width: 80%;
  margin: 1rem auto 0 auto;
} */

.questions {
  display: flex;
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.flex-outer > li > label {
  flex: 1 0 120px;
  max-width: 280px;
  text-align: right;
  padding-right: 10px;
}

.flex-outer > li > label + * {
  flex: 1 0 220px;
  max-width: 480px;
}

label {
  font-weight: normal;
}

.response h2 {
  text-align: center;
}

.recommendation, .courses, .design, .c-sharp, .java, .php, .ruby, .notsure, .nopatience {
  display: none;
}

.btn-primary {
  padding: 8px 20px 8px 20px;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-radius: 4px;
  min-width: 150px;
}

.button-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
 .tryagain {
   margin-top: 2rem;
 }
